body {
  background-color: #5ba3f8;
}

.wrapper {
  background-color: white;
  margin: auto;
  height: 100vw;
  width: 80%;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  border: solid 3px black;
  background-color: lightgreen;
  justify-content: center;
}
.header h1 {
  font-size: 50px;
  font-family: Unbounded;
  color: #8c52ff;
  text-align: center;
}

.logo {
  float: left;
}

.logo2 {
  float: right;
  align-items: right;
}
h2 {
  font-size: 40px;
  font-family: Noto Sans;
}

h3 {
  font-size: 30px;
  font-family: Noto Sans;
}

h4 {
  font-size: 20px;
  font-family: Noto Sans;
}

p {
  font-family: Noto Sans;
  font-size: 30px;
  margin: 10px;
}

.navbar {
  width: 100%;
  background-color: #333;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

.navbar li {
  float: left;
  display: inline-block;
  text-align: center;
}

.navbar li a {
  display: block;
  color: #8c52ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  background-color: lightgreen;
  font-family: Noto Sans;
}

.navbar li a:hover {
  background-color: #111;
}

ul {
  text-align: center;
}

li {
  text-align: center;
}

ul li {
  display: inline-block;
  line-height: 8px;
  list-style: none;
  padding: 10px;
  font-size: 30px;
  color: white;
}

ul li a {
  text-decoration: none;
  color: white;
  margin: 10px;
}
/* navbar and header styling done by Charlie*/

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  font-family: Noto Sans;
  font-size: 10px;
  position: relative;
  height: 50px
  margin: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

.copyright-warning p {
  width: 50%;
  font-size: 15px;
  text-align: left;
  position: absolute;
  bottom: 0;
  font-family: Noto Sans;
}

.logo3 {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100px;
}

.contact-info h2 {
  width: 100%;
  font-size: 20px;
  font-family: Noto Sans;
  text-align: center;
}
.contact-info p {
  width: 100%;
  font-size: 15px;
  font-family: Noto Sans;
  color: white;
}
.social-media-links h2{
  width: 100%;
  font-size: 20px;
  font-family: Noto Sans;
  text-align: center;
}
.social-media-links li a{
  width: 100%;
  font-size: 15px;
  font-family: Noto Sans;
}
.social-media-links li a:hover {
  color: #3366CC;
}
/* CSS code for the footer completed by Charlie reference https://www.w3schools.com/howto/howto_css_fixed_footer.asp*/
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin: 0 auto;
}
.form-text h1 {
  font-family: Noto Sans;
  font-size: 25px;
  text-align:center;
}
/*form styling completed by Charlie*/
